@charset "UTF-8";

div {    /* 1 */
	/* color: red  !important ; */
	border: 3px solid;
	width: 100px;
	height: 100px;
	background-image: 
	url('https://gongu.copyright.or.kr/gongu/wrt/cmmn/wrtFileImageView.do?wrtSn=13302425&filePath=L2Rpc2sxL25ld2RhdGEvMjAyMi8yMS9DTFMxMDAwNi8xMzMwMjQyNV9XUlRfMjFfQ0xTMTAwMDZfMjAyMjAyMDdfMQ==&thumbAt=Y&thumbSe=b_tbumb&wrtTy=10006' )
	/* url('../images/2.jpg'); */
}

#color_yellow { color: yellow; }  /* 100 */

.color_green { color: green; } /*  10 */

* {  color:  darkblue;  }  /* 0  */


.list  li.item {  }  
.list li:hover { }
.box::before { }
#submit span { }
header .menu li:nth-child(2) { }
hi {  }
:not(.box) {   }












